<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />
        <title>Restaurante</title>
    </head>
    <body>
        <h1>Our Menu</h1>
        <div class="line"></div>
         <div class="sections-button">
            <button  id="all"><a class = "active" href="/">All</a></button>
            <button id="breakfast"><a href="/breakfast">Breakfast</a></button>
            <button id="lunch"><a href="/lunch">Lunch</a></button>
            <button id="shakes"><a href="/shakes">Shakes</a></button>
            <button id="dinner"><a href="/dinner">Dinner</a></button>
        </div>